# This file maintains persistent names for CD/DVD reader and writer devices.
# See udev(7) for syntax.
#
# Entries are automatically added by the 75-cd-aliases-generator.rules
# file; however you are also free to add your own entries provided you
# add the ENV{GENERATED}=1 flag to your own rules as well.
# DVD-ROM_DH10N (pci-0000:00:1f.2-scsi-0:0:1:0)

KERNEL=="ttyS0", SUBSYSTEM=="tty", MODE="0666"

KERNEL=="ttyUSB0", SUBSYSTEM=="tty", MODE="0666"
